<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <br /><br />
            <h4>MENÜ</h4>
            <br />
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByAdmin/">
                <span class="menu-title">BLOGLAR</span>
                <i class="mdi mdi-format-list-bulleted menu-icon" style="color:#3399ff"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">SİTEYE GİT</span>
                <i class="mdi mdi-car menu-icon" style="color:#3399ff"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AdminLogin/Index/">
                <span class="menu-title">ÇIKIŞ YAP</span>
                <i class="mdi mdi-logout menu-icon" style="color:#3399ff"></i>
            </a>
        </li>
    </ul>
</nav>