
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link href="~/CoreBlogTema//web/css/contact.css" rel='stylesheet' type='text/css' />

<body>
	<section class="main-content-w3layouts-agileits">

		<h3 class="tittle" style="color:#3399ff">İletişim İçin Bize Ulaşın</h3>
		<p class="sub text-center">Yorumlarınız bizim için çok değerlidir</p>
		<div class="contact-map inner-sec">

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d386979.6911554643!2d30.190400075220097!3d40.73388957431306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb5169652181b%3A0xeba807a5c78d9201!2sSakarya!5e0!3m2!1str!2str!4v1640249916637!5m2!1str!2str"
			    class="map" style="border:0" allowfullscreen=""></iframe>
		</div>
		<div class="ad-inf-sec bg-light">
			<div class="container">
				<div class="address row">

					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map" style="color:#3399ff"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Adres</h6>
								<p> Sakarya,Türkiye

								</p>
							</div>
						</div>

					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope" style="color:#3399ff"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Mail</h6>
								<p>Email :
									<a href="mailto:example@email.com"> sakaryagurmesi@example.com</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt" style="color:#3399ff"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Telefon</h6>
								<p>+0264 363 3636</p>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact_grid_right">
				<form  method="post">
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group">
								<label for="validationCustom01 my-2">Adınız</label>
								<input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Mail Adresiniz</label>
								<input class="form-control" type="email" name="ContactMail" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="validationCustom03 my-2">Kategori </label>
								<input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group">
								<label for="textarea">Mesajınız</label>
								<textarea id="textarea" name="ContactMessage" placeholder=""></textarea>
							
							<input class="form-control " type="submit" value="Gönder">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--//main-->
</body>

