<div class="tech-btm">
	
	<p>En çok beğenilen bloglardan haberdar olmak ister misiniz ? Emailiniz ile abone olun ve bu fırsatlardan geri kalmayınız...</p>
	<form  method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" style="background-color:#3399ff" value="Abone Ol">
	</form>

</div>