<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
	<span>Hoşgeldiniz </span>
	<span class="mx-lg-4 mx-md-2  mx-1">
		<a href="/Login/Index/">
			<i class="fas fa-lock" style="color:firebrick" ></i> Giriş Yap
		</a>
	</span>
	<span>
		<a href="/Register/Index/">
			<i class="far fa-user" style="color:firebrick"></i> Kayıt Ol
		</a>
	</span>
	<span>
		<a href="/Admin/Index/">
			<i class="far fa-user" style="color:firebrick" ></i> Admin Girişi
		</a>
	</span>
</div>

